.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    padding-bottom: 14px;
    padding-top: 5px;
    font-size: 56px;
    line-height: 70.9%;
    margin-top: 127px;
    margin-bottom: 25px;
    font-family: Nexa Script Light;
    font-weight: normal;
    text-align: center;
    background: linear-gradient(11deg, rgba(0, 24, 240, 1) 33%, rgba(0, 224, 255, 1) 87%, #8AA9D6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
  }

  &__sign-up-title {
    margin-top: 25px; 
  }

  &__input, &__button {
    width: 500px;
    height: 60px;
    margin-top: 20px;
    border-radius: 30px;
    border-color: #0085F8;
    outline: none;
  }

  &__select {
    width: 500px !important;
    height: 60px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 1px solid #0085F8;
    
    div {
      border: none !important;
      background: none !important;
      outline: none !important;
      height: 60px !important;
      align-items: center;
      border-color: #0085F8 !important;
      outline: none !important;
      border: none !important ;
    }
  }

  &__input {
    padding-left: 25px;
    font-size: 16px;
    color: #4DAAFA !important;

    input {
      color: #4DAAFA;
    }
  }

  &__button {
    background-color: #0085F8;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
  }

  &__forgot-password {
    font-weight: bold;
    color: #0085F8;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
  }

  &__sign-up, &__back, &__already-have {
    font-size: 14px;
    color: #999999;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
  }

  &__back {
    font-weight: bold;
    color: #0085F8;
  }

  &__sign-up, &__already-have {
    margin-bottom: 100px;
  }

  &__notification-btn {
    background-color: #0085F8;
    border-radius: 10px;
  }

  &__already-have {
    color: #0085F8;
  }

  &__sign-up-already-have {
    margin-bottom: 20px;
  }

  &__sign-up-btn-info {
    width: 300px;
    height: 32px;
    color: #999999;
    margin-bottom: 25px;
    line-height: 16px;
  }
}

@media (max-width: 414px) {
  .login-page__title {
    font-size: 36px;
  }

  .login-page__button, .login-page__input, .login-page__select {
    width: 340px !important;
  }
}