.admin-page {
  display: flex;
}

.menu {
  width: 23.1%;
  padding: 25px 0;
  border-radius: 30px;
  font-family: AGOpus, sans-serif !important;
  height: 400px;
  margin-right: 30px;

  &__item {
    display: flex;
    align-items: center;
    height: 35px !important;
    margin-bottom: 0px !important;
    color: #8D9FBB;
  }

  &__icon {
    width: 14px;
    height: 14px;
  }
}