.user-test-complete {
    .container {
        position: relative;
    }
    &__body {
        min-height: 80vh;
    }
    &__title {
        font-size: 56px;
        padding-top: 20px;
        font-family: Nexa Script Light;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(11deg, rgba(0, 24, 240, 1) 33%, rgba(0, 224, 255, 1) 87%, #8AA9D6);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
    }
    &__info {
        font-size: 18px;
        text-align: center;
    }
}

.info-sheet {
    position: absolute;
    top: 140px;
    right: 0;
}