.user-test-complete {
    .container {
        position: relative;
    }
    &__body {
        min-height: 80vh;
    }
    &__title {
        font-size: 56px;
        padding-top: 20px;
        font-family: Nexa Script Light;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(11deg, rgba(0, 24, 240, 1) 33%, rgba(0, 224, 255, 1) 87%, #8AA9D6);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
        margin-bottom: 50px;
    }
}

.info-sheet {
    position: absolute;
    top: 140px;
    right: 0;
    &__content {
        position: absolute;
        top: 25px;
        left: 50px;
        width: 240px;
    }
    &__title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        font-size: 18px;
        color: #4B4B4B;
        margin-bottom: 10px;
    }
    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        &:nth-child(2) {
            svg {
                transform: translate(-2px, 0);
            }
        }
        &:nth-child(3) {
            svg {
                color: #00D890;
                transform: translate(0, 2px);
            }
        }
        &:nth-child(4) {
            svg {
                transform: translate(2px, 2px);
            }
        }
    }

    &__icon {
        width: 20px;
        height: 25px;
    }

    &__name {
        margin-left: 5px;
        font-size: 16px;
        line-height: 19px;
        color: #4B4B4B;
    }
}
.test-question {
    margin-bottom: 60px;
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 130%;
        color: #4B4B4B;
        max-width: 600px;
    }

    &__info {
        font-size: 18px;
        line-height: 21px;
        margin-top: 5px;
        color: #4B4B4B;
        margin-bottom: 40px;
    }
    &__options {
        max-width: 600px;
    }
    .test-option {
        display: flex;
        align-items: center;
        width: 470px;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        padding: 13.5px 11px;
        position: relative;
        margin-bottom: 10px;
        &__icon {
            height: 20px;
            color: #00D890;
            .false {
                transform: translate(-2px, -2px);
            }
        }
        &__title {
            font-size: 16px;
            line-height: 19px;
            color: #4B4B4B;
            margin-left: 10px;
        }
        &__selection-icon {
            height: 16px;
            position: absolute;
            right: 20px;
        }
    }
}

@media (max-width: 768px) {
    .user-test-complete {
        &__body {
            margin-top: 235px;
        }
        &__title {
            font-size: 36px;
        }
    }

    .test-question {
        .test-option {
            width: 100%;
        }
    }

    .info-sheet {
        top: 100px;
        right: -13px;    
    }
}