.add-partner-page {
  width: 74.34%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  &__button-add {
    width: 196px;
    height: 34px;
    margin-right: 0;
    margin-bottom: 25px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 0;
  }
}

.page-content {
  height: 580px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 15px 30px 30px;
  font-family: AGOpus, sans-serif;

  &__title {
    color: #4B4B4B;
    font-size: 20px;
    margin-bottom: 7px;
  }

  &__input {
    border-radius: 30px;
    color: #0085F8;
    height: 38px;
    margin-bottom: 25px;
    &::placeholder {
      color: #8D9FBB !important;
    }
  }
  
  &__button-icon {
    width: 16px;
    margin-right: 6.5px;
  }

  &__upload-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 201px !important;
    height: 38px !important;
    border-radius: 30px;
    border: 1px solid #0085F8;
    background-color: #0085F8;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 1;
    cursor: pointer;
    user-select: none;
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 16px;
    transition: opacity .5s;
    &:hover {
      opacity: 0.7;
    }
  }

  &__file-input {
    display: none !important;
  }
}

.form-item {
  margin-bottom: 0;
}