.test-questions-page {
    width: 74.34%;

    &__create-wrap {
        display: flex;
        flex-direction: row-reverse;
    }
    &__create-btn {
        margin-right: 0;
        font-size: 15px;
        height: 34px;
        line-height: 15px;
        padding: 7px 24px;
    }
    &__questions {
        margin-top: 25px;
    }
    &__add-btn {
        margin-top: 25px;
        font-size: 15px;
        height: 34px;
        padding: 5px 25px;
        margin-bottom: 50px;
    }
}