.private-office {
  font-family: AGOpus;
  &__photo {
    display: flex;
    align-items: center;
  }

  &__user-info {
    display: flex;
    margin-top: 75px;
  }
}

.user-photo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
  height: 312px;
  background: #FFFFFF;
  border-radius: 47px;
  padding: 13.5px 13.5px 9px;
  
  &__img-container {
    width: 243px;
    height: 259px;
    border-radius: 47px;
    background: #EBF6FE;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__action-name {
    color: #0085F8;
    text-decoration: underline;
    opacity: 0.7;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
    font-size: 16px;
    transition: color .3s;
    &:hover {
      opacity: 1;
    }
  }

  &__file-input {
    display: none !important;
  }
}

.user-info {
  margin-left: 30px;
  margin-top: 30px;
  max-width: 880px;

  &__full-name {
    font-size: 36px;
    font-weight: bold;
  }

  &__divider {
    width: 870px;
    height: 1px;
    background-color: #DBF0FF;
    margin-bottom: 15px;
  }

  &__row {
    display: flex;
    font-size: 18px;
    line-height: 20px;
  }

  &__column-name {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  &__column-value {
    display: flex;
    align-items: flex-end;
  }

  &__input {
    width: 300px !important;
    border-radius: 15px !important;
    color: rgba(0, 133, 248, 0.7);
    // height: 35px;
  }

  &__edit-icon {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    cursor: pointer;
  }

  &__redirect-btn {
    width: 148px;
    height: 44px;
    padding: 0;
    margin-top: 25px;
  }
}

.input-wrapper {
  width: 500px;
  height: 56px;
  display: flex;
  align-items: center;
}

.row-item  {
  margin-bottom: 6px !important;
  &__full-name {
    margin-bottom: 0px;
  }

  &__phone {
    margin-bottom: 15px !important;
  }
}

.diploma-info {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-family: Nexa Script Light;
    font-size: 56px;
    text-align: center;
    font-weight: 400;
    background: linear-gradient(11deg, #0018f0 33%, #00e0ff 87%, #8AA9D6);
    color: #0B2349;
    background-clip: text;
    line-height: 79%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 57px;
    user-select: none;
    padding-bottom: 15px;
  }

  &__frame {
    position: relative;
    width: 767px;
    height: 565px;
    background-color: #FFFFFF;
    padding: 30px;
  }

  &__image {
    position: relative;
    background-color: #F0F7FB;
    width: 707px;
    height: 505px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-family: Nexa Script Light;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  &__full-name {
    position: absolute;
    font-size: 19px;
    top: 223px;
  }
  &__percentage {
    font-family: Nexa Script Light;
    position: absolute;
    font-size: 50px;
    left: 73px;
    top: 278px;
    font-weight: 600;
    color: #0064f6;
  }

  &__download {
    font-family: AGOpus;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    color: #0085F8;
    opacity: 0.7;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 95px;

    &:hover {
      opacity: 1;
    }
  }

  &__share-in {
    width: 366px;
    height: 154px;
  }
}

.share-in {
  position: absolute;
  left: -68px;
  top: 495px;

  &__title {
    position: absolute;
    left: 53px;
    top: 45px;
    font-family: AGOpus;
    font-size: 18px;
    color: #4B4B4B;
    font-weight: bold;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 53px;
    top: 78px;
    width: 194px;
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-right: 0px;
    cursor: pointer;
    &:nth-child(1) {
      background-image: url(../../../assets/images/home-page/vk.png);
    }
    &:nth-child(2) {
      background-image: url(../../../assets/images/home-page/ok.png);
    }
    &:nth-child(3) {
      background-image: url(../../../assets/images/home-page/fb.png);
    }
    &:nth-child(4) {
      background-image: url(../../../assets/images/home-page/insta.png);
    }
    &:nth-child(5) {
      background-image: url(../../../assets/images/home-page/tg.png);
    }
    &:nth-child(6) {
      background-image: url(../../../assets/images/home-page/Youtube.png);
    }
  }
}

.bottom-diploma {
  position: relative;
  width: fit-content;
  &__name {
    position: absolute;
    top: 460px;
    left: 0px;
    font-size: 36px;
    width: 100%;
    text-align: center;
  }
  &__percentage {
    font-family: Nexa Script Light;
    position: absolute;
    font-size: 90px;
    left: 180px;
    top: 575px;
    font-weight: 600;
    color: #0064f6;
  }
}


@media (max-width: 1024px) {
  .user-info__divider {
    width: 600px;
  }

  .user-info__column-name {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .private-office__user-info {
    flex-direction: column;
    align-items: center;
  }

  // .user-info {
  //   max-width: 500px;
  // }

  .user-info {
    &__full-name {
      font-size: 26px;
    }

    &__column-name {
      margin-right: 60px;
    }

    &__column-value {
      font-size: 16px;
    }
  
    &__divider {
      width: unset;
    }

    &__redirect-btn {
      width: 100%;
    }
  }

  .diploma-info {
    &__title {
      font-size: 36px;
    }

    &__image {
      width: 315.42px;
      height: 244.9px;

      img {
        width: 100%;
      }
    }

    &__frame {
      padding: 14.55px 12.3px;
      width: 340px;
      height: 274px;
    }

    &__full-name {
      font-size: 14px;
      top: 103px;
      left: 63px;
    }
  
    &__percentage {
      font-size: 25px;
      left: 25px;
      top: 131px;
      font-weight: 600;
      color: #0064f6;
    }

    &__download {
      margin-top: 75px;
      margin-bottom: 10px;
    }
  }

  .share-in {
    left: -10px;
    top: 190px;
  }
}