body {
  margin: 0;
  font-family: AGOpus;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #4B4B4B;
  user-select: none;
}

@font-face {
  font-family: 'Eutelia';
  src: local('Eutelia'), url(./fonts/Eutelia.otf) format('otf');
}

@font-face {
	font-family: "Nexa Script Light";
	src: url("./fonts/nexa-script-light/nexa-script-light.eot"); /* IE9 Compat Modes */
	src: url("./fonts/nexa-script-light/nexa-script-light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./fonts/nexa-script-light/nexa-script-light.otf") format("opentype"), /* Open Type Font */
		url("./fonts/nexa-script-light/nexa-script-light.svg") format("svg"), /* Legacy iOS */
		url("./fonts/nexa-script-light/nexa-script-light.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./fonts/nexa-script-light/nexa-script-light.woff") format("woff"), /* Modern Browsers */
		url("./fonts/nexa-script-light/nexa-script-light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AGOpus";
	src: url("./fonts/agopus.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/agopus.woff") format("woff"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AGOpus";
	src: url("./fonts/agopus-bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/agopus-bold.woff") format("woff"); /* Modern Browsers */
	font-weight: bold;
	font-style: normal;
}


.container {
  max-width: 1170px;
  margin: auto;
  color: #4B4B4B;
}

/*Ant design common components styles*/
.ant-select-selector:focus {
  border: none;
}

#signUpForm .ant-select-selection-item {
  padding-left: 25px !important;
  color: #0085F8;
}

.ant-notification-notice {
  border-radius: 20px !important;
}

.ant-select-selector {
	border-radius: 30px !important;
}

.user-test-option-multiple .ant-radio, .user-test-option-multiple .ant-checkbox {
	position: absolute;
	top: 145px;
    left: 10px;
}

.ant-table {
	border-radius: 30px !important;
	padding: 0 30px 25px 30px !important;
}

.tool-bar__select .ant-select-selector {
	height: 34px !important;
}

.tool-bar__select .ant-select-selection-item {
	padding-top: 1px !important;
}

.tool-bar__select .ant-select-selection-item {
  padding-left: 0 !important;
	width: 170px;
	color: #8D9FBB !important;
}

.menu .ant-menu-item-selected {
	color: #4B4B4B !important;
}

.delete-modal .ant-modal-content {
  font-family: AGOpus, sans-serif !important;
	border-radius: 30px;
	width: 700px;
	color: #4B4B4B !important;
  padding: 10px;
}

.delete-modal .ant-modal-header {
	border-radius: 30px 30px 0 0;
}

.delete-modal .ant-modal-title {
	font-size: 28px !important;
	font-weight: bold;
	color: #4B4B4B !important;
}

.delete-modal .ant-modal-body {
	height: 200px;
	font-size: 16px;
}


.statistics-tabs {
	padding: 15px 35px 0;
}
.statistics-tabs .ant-tabs-nav-list {
	width: 100%;
}
.statistics-tabs .ant-tabs-tab {
	width: 50%;
	padding-bottom: 7px;
}
.statistics-tabs .ant-tabs-tab .ant-tabs-tab-btn {
	font-weight: bold !important;
	color: #4B4B4B !important;
	font-size: 18px;
}
.statistics-tabs .ant-tabs-tab:nth-child(2) {
	margin-right: 0;
}

.ant-tabs-top > .ant-tabs-nav::before {
	border-bottom: 1px solid #DBF0FF;
}



.ant-picker-dropdown-range .ant-picker-panel:nth-child(2) .ant-picker-body {
    display: none!important;
}

.ant-picker-dropdown-range .ant-picker-panel:nth-child(2) {
    width: 0!important;
}

.ant-picker-dropdown-range .ant-picker-panel:nth-child(2) .ant-picker-header-next-btn {
	position: absolute;
    right: 30px!important;
}

.ant-picker-dropdown-range .ant-picker-panel:nth-child(2) .ant-picker-header-super-next-btn {
	position: absolute;
    right: 10px!important;
}

.atom-date-picker {
	visibility: hidden;
	height: 0;
}

.publication-status__select .ant-select-selector {
	border: none !important;
	box-shadow: none !important;
	color: #4B4B4B !important;
}

.publication-status__select .ant-select-selection-item,
.publication-status__select .ant-select-selection-placeholder, 
.publication-status__select .ant-select-arrow {
	color: #4B4B4B;
	padding-left: 5px !important;
	padding-right: 0px !important;
}

.admin-collapse-elem-form .ant-form-item {
	margin-bottom: 0;
}

.admin-collapse-elem-form .ant-input {
	font-size: 16px;
	border-color: #fff;
	padding-left: 0;
}

.admin-collapse-elem-form .ant-input:focus {
	border-color: #fff;
	box-shadow: none;
}

.test-questions-option .ant-checkbox-disabled + span, .test-questions-option .ant-radio-disabled + span {
	font-size: 16px;
    color: #4B4B4B;
	cursor: initial;
	display: inline-block;
}

.test-questions-option .ant-checkbox-inner, .test-questions-option .ant-radio-inner {
	background-color: #fff;
	cursor: initial;
}

.test-questions-option .ant-checkbox-input, .test-questions-option .ant-radio-input {
	cursor: initial;
}

.test-questions-option .ant-checkbox-disabled, .test-questions-option .ant-radio-disabled {
	cursor: initial;
}

.test-questions-option__action_active {
	color: #00D890;	
}

.test-questions-option textarea {
	width: 600px;
    padding: 0;
    min-height: 27px;
}

/* Attachment modal */

.attachment-modal {
	height: 438px;
}

.attachment-modal .ant-modal-content {
  font-family: AGOpus, sans-serif !important;
	border-radius: 30px;
	width: 700px;
	color: #4B4B4B !important;
  padding: 10px;
}

.attachment-modal .ant-modal-header {
	border-radius: 30px 30px 0 0;
}

.attachment-modal .ant-modal-title {
	font-size: 28px !important;
	font-weight: bold;
	color: #4B4B4B !important;
}

.attachment-modal .ant-modal-body {
	height: 390px;
	font-size: 16px;
	padding: 0;
	margin: 24px;
	border: 1px dashed #CECECE;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.attachment-modal .ant-modal-body .ant-btn {
	font-size: 15px;
	margin-right: 0;
	height: 34px;
	padding: 2px 28px 0;
}

.attachment-modal .ant-modal-footer {
	display: none;
}

.attachment-modal .ant-modal-close-icon {
	display: none;
}

/* Attachment modal */


/* Pagination */
.ant-pagination-item-link {
	border-radius: 35px !important;
	border: none !important;
}

.ant-pagination-item a{
	color: #A5A5A5 !important;
}

.ant-pagination-item-active a {
	font-weight: bold !important;
	color: #0085F8 !important;
}

.ant-pagination-item-active, .ant-pagination-item {
	border: none;
	background: none;
	font-size: 16px;
}

.anticon svg {
	color: #8D9FBB;
}
/* Pagination */

.menu-elem-collapse .admin-collapse-elem-actions {
	flex-direction: row-reverse;
	justify-content: normal;
}

.menu-sub-category-collapse .sub-category {
	width: 200px;
}

.menu-sub-category-collapse .sub-category .svg {
	margin-left: 20px;
}

.menu-sub-category-collapse .sub-category .title {
	transition: all .3s;
}

.menu-sub-category-collapse .sub-category:hover {
	color: #0085F8
}

.menu-sub-category-input {
	padding: 5.5px 20px!important;
	border-color: #E7E7E7!important;
	border-radius: 30px;
	margin-bottom: 15px;
}

.menu-sub-category-btn-wrap {
	display: flex;
	flex-direction: row-reverse;
}

.menu-sub-category-btn-wrap button {
	font-size: 15px;
	height: 34px;
	padding: 0px 32px;
	margin-right: 0;
}

.subcategory__select {
	margin-bottom: 20px;
}

.subcategory__select .ant-select-selector {
	height: 38px!important;
}

.subcategory__select .ant-select-selection-placeholder, .subcategory__select .ant-select-selection-item {
	margin-top: 4px;
}

.fr-wrapper div:first-child a {
	visibility: hidden;
	padding: 0;
}



@media (max-width: 414px) {
	.private-office .ant-col-12 {
		max-width: 65%;
	}
}

@media (max-width: 768px) {
	.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
		margin-left: -60px !important;
	}

	.ant-radio-group {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
		margin-left: -110px !important;
	}
}